{% extends 'index_admin.html' %}
{% load crispy_forms_filters %}
{% block content %}
<style>
            #aa{
                background-color: #18684b;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 5px;

            }
        </style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center display-4">Add Todo</h1>
        </div>
        <div class="col-md-12">
<form method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <div class="col-lg-6">
        {% for message in messages %}
    <div class="alert alert-info" role="alert">
       {{message}}
    </div>
    {% endfor %}
                <button type="submit"  id="aa">Add To-do</button>
              </form>
        </div>
    </div>
{% endblock %}